nav{
    display: flex;
    justify-content:space-around;
    background-color:#F8F0ED;
}
ul{
    list-style: none;
    display: inline;
}
li{
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px;
}
a{
    color: black;
}
.container-fluid{
    margin-top: 20px;
    display: flex;
}
.text1{
    text-align: center;
    width: 100%;
    background-color: #F8F0ED;
    padding: 122px 3rem;
    align-content: c;
    margin-top: 0px;
}
img{
    width: 100%;
}
.container{
    margin-top: 5rem;
}
.third-row{
    background-color:#F8F0ED;
    background-image: url(./art.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 573px;
    margin: 5rem 0rem;
}

.image1{
    border: 16px solid white;git 
}
.first-class{
    background-color: white;
    height: fit-content;
    padding: 35px;
    margin-top: 69px;
}
.fourth-row{
    text-align: center;
    padding: 7rem;
}
h5{
    padding-bottom:5px
}
.fifth-class{
    text-align: center;
    padding: 3rem 5rem;
    background-color: #F8F0ED;
}